@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/programming-g1da12be81_1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

body:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 50%;
  z-index: -1;
  background: linear-gradient(to right, #19d4f5, #f12711);
}

a {
  text-decoration: none;
}

.basic-section {
  background: whitesmoke;
  width: 55%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 0.5em;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
}

.basic-section .header-div {
  width: 100%;
  margin: auto;
  padding: 2em;
  text-align: center;
  font-weight: 100;
  border-radius: 0.5em;
}

#menu-icon-i {
  display: none;
}
.basic-section .hero-nav-div {
  display: flex;
}
.basic-section .hero-nav-div .container {
  display: flex;
}
.basic-section .hero-nav-div .container .nav-div {
  width: 30%;
  border-right: 0.1em solid rgba(58, 58, 58, 0.26);
}
.basic-section .hero-nav-div .container .nav-div ul {
  list-style-type: none;
  padding: 2em;
}
.basic-section .hero-nav-div .container .nav-div ul li {
  margin-top: 1em;
}
.basic-section .hero-nav-div .container .nav-div ul li #mobile-exit {
  display: none;
}
.basic-section .hero-nav-div .container .nav-div ul li a {
  color: black;
}
.basic-section .hero-nav-div .container .nav-div ul li:hover {
  transform: translateX(1em);
  transition: 0.2s;
}
.basic-section .hero-nav-div .container .nav-div ul li a:hover {
  color: #f12711;
}

/* ---------- mobile menu css ---------- */
.basic-section .hero-nav-div .container .nav-div.mobile-active {
  display: block;
  position: absolute;
  background: rgb(172, 172, 172);
  text-align: right;
  color: white;
  top: 8.8em;
  right: 1em;
  height: 70em;
  width: 15em;
}
.basic-section .hero-nav-div .container .nav-div.mobile-active ul li a {
  color: white;
}
.basic-section .hero-nav-div .container .nav-div.mobile-active ul li:hover {
  transform: translateX(-1em);
  transition: 0.2s;
}
/* ---------- mobile menu css ---------- */

.basic-section .hero-nav-div .container .hero-div {
  width: 70%;
  padding: 3em;
}
.basic-section .hero-nav-div .container .hero-div h3:not(:first-child) {
  margin-top: 2em;
}
.basic-section .hero-nav-div .container .hero-div p {
  margin-top: 0.8em;
  text-align: justify;
}
.basic-section .hero-nav-div .container .hero-div img {
  margin-top: 1em;
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}
.basic-section .hero-nav-div .container .hero-div img:hover {
  opacity: 80%;
  transition: 0.2s;
}
.basic-section .hero-nav-div .container .hero-div span {
  font-weight: bold;
}
.scrollToTopBtn {
  background-color: whitesmoke;
  border: none;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 2.5em;
  width: 2em;
  position: fixed;
  bottom: 3em;
  right: 11em;
  z-index: 100;
  transform: translateY(10em);
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
  transition: all 0.5s ease;
}
.showBtn {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1200px) {
  .basic-section {
    width: 65%;
  }
  .scrollToTopBtn {
    right: 4em;
  }
}

@media screen and (max-width: 1000px) {
  .basic-section {
    width: 75%;
  }
  .scrollToTopBtn {
    right: 2em;
  }
}

@media screen and (max-width: 800px) {
  .basic-section {
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
  .basic-section {
    width: 95%;
  }
  .scrollToTopBtn {
    background: black;
  }
  .header-div {
    display: flex;
    place-content: space-between;
  }
  #menu-icon-i {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    width: 1.3em;
    height: 1.3em;
  }
  .container {
    width: 90%;
    margin: auto;
    border-top: 0.1em solid rgba(58, 58, 58, 0.26);
  }
  .basic-section .hero-nav-div .container .nav-div {
    display: none;
  }
  .basic-section .hero-nav-div .container .hero-div {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
  .scrollToTopBtn {
    right: 1em;
  }
  .basic-section .hero-nav-div .container .hero-div {
    padding: 2em;
  }
}
